a {
  @apply text-indigo-400;
  
  &:hover {
    @apply underline;
  }
}

h1 {
  @apply text-3xl font-medium;
  font-family: theme('fontFamily.heading');
}

h2 {
  @apply text-2xl font-medium;
  font-family: theme('fontFamily.heading');
}

h3 {
  @apply text-xl font-medium;
  font-family: theme('fontFamily.heading');
}

h4 {
  @apply text-lg font-medium;
  font-family: theme('fontFamily.heading');
}

h5 {
  @apply text-base font-medium;
  font-family: theme('fontFamily.heading');
}

h6 {
  @apply text-base;
  font-family: theme('fontFamily.heading');
}

.appBar {
  -webkit-app-region: drag;

  span {
    -webkit-app-region: no-drag;
    user-select: none;
    -webkit-user-select: none;
    font-size: .75rem;

    svg {
      width: .75rem;
      height: .75rem;
    }
  }
}

.simplebar-scrollbar::before {
  background-color: theme('colors.gray.700') !important;
}

.Loader {
  @apply border-2 border-gray-500 animate-spin;
  border-top-color: theme('colors.white');
}

.LoaderLight {
  @apply border-2 border-gray-500 animate-spin;
  border-top-color: theme('colors.black');
}
